@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.color-primary {
  color: rgb(230, 83, 60);
}

.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border: none;
}

.color-secondary {
  color: white;
}

.title-primary {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}

.description-primary {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 14px;
  font-weight: 400;
  margin-bottom: 58px;
}

/* header styles */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(40, 40, 40, 1) 100%
  );
}

/* nav styles */
.navName {
  margin-top: 40px;
}

.navRight {
  margin-top: 40px;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  /* margin-top: 57px; */
  display: flex;
  justify-content: space-between;
}

.nav-title h1 {
  font-style: italic;
  font-size: 36px;
  font-weight: 800;
  margin-top: 57px;
}

.ham {
  display: none;
}

.nav-links ul {
  margin-top: 57px;
  display: flex;
  align-items: center;
  gap: 47px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 39px;
}

.nav-links li {
  margin-right: 24px;
  list-style-type: none;
}

.nav-links,
li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

li:nth-child(1) {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
}

/* banner stylse */
.banner-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.banner-content {
  margin-top: 80px;
  max-width: 520px;
  max-height: 100%;
  /* border: 2px solid red; */
}

.banner-title {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 25px;
}

.banner-title span {
  font-size: 70px;
  font-weight: 400;
  font-family: "Playwrite DK Loopet";
}
.banner-description {
  max-width: 520px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin-bottom: 25px;
}

.banner-img {
  max-width: 349px;
  max-height: 580px;
  margin-right: 45px;
  position: relative;
}

.navbtn2 {
  margin-left: 5px;
  background-color: black;
  border: 1px solid white;
}

.workVdo {
  position: absolute;
  width: 193px;
  height: 98px;
  left: 238px;
  top: 120px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 17px 23px 16px 24px;
}

.workVdo-title {
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.workVdo {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}

.vidTuto {
  position: absolute;
  width: 206px;
  height: 100px;
  right: 250px;
  top: 415px;
  box-sizing: border-box;
  border-radius: 12px;
  backdrop-filter: blur(18px);
  background: rgba(48, 48, 48, 0.54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.vidBall {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}

.vidTuto-title {
  font-size: 24px;
  font-weight: 900;
}

.vidTuto-des {
  font-size: 16px;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
}

/* habit styles */
.habit-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.habit-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit-secondary {
  display: flex;
  justify-content: space-between;
}

.habit-secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit-secondary-img {
  border-radius: 50%;
}

.secondary-content-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.secondary-content-description {
  color: rgba(255, 255, 255, 0.5);
}

.secondary-content-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* run section styles */

.run {
  width: 80%;
  max-height: 371px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  gap: 165px;
}

.run-btn {
  width: 224px;
}

.run-details {
  max-width: 443px;
  max-height: 290px;
  margin: 40px 0px 40px 54px;
  color: white;
}

.run-description {
  margin-top: 14px;
  margin-bottom: 34px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.run-img {
  width: 366px;
  height: 312px;
  margin: 30px 32px 30px 0px;
  border-radius: 18px;
}

/* training-exercise styles */

.training-exercise {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.training-details {
  max-width: 671px;
  max-height: 119px;
  color: rgba(255, 255, 255, 0.5);
}

.training-description {
  margin-top: 14px;
  margin-bottom: 58px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.img1 {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgba(0, 255, 255, 0.5);
}

.img2 {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  background-color: rgba(255, 0, 0, 0.5);
}

.img3 {
  grid-column: 10 / -1;
  grid-row: 1 / 2;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.img4 {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.img5 {
  grid-column: 6 / 9;
  grid-row: 2 / 3;
  /* background-color: rgba(0, 255, 0, 0.5); */
}

.img6 {
  grid-column: 9 / -1;
  grid-row: 2 / 3;
  /* background-color: rgba(255, 0, 255, 0.5); */
}

.skyblue {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 284px;
  background-color: rgba(93, 247, 195, 0.5);
  z-index: 1;
}

.training-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 284px);
}

.training-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* nutrition styles */

.nutrition {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.nutrition-headline {
  max-width: 671px;
  max-height: 119px;
  margin-bottom: 60px;
}

.nutrition-des {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.nutrition-details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 280px;
  gap: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
}

.nutriImg1 {
  grid-column: 1 / 5;
}
.nutriImg2 {
  grid-column: 5 / 9;
}
.nutriImg3 {
  grid-column: 9 / -1;
}

.nutrition-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.6);
}

.bg {
  width: 100%;
  background-color: rgba(192, 48, 48, 0.1);
  position: absolute;
  z-index: 1;
}

.nutriImg {
  border-radius: 10px;
  position: relative;
}

.nutriImg-title {
  font-size: 18px;
  color: white;
}

.nutriImg-des {
  font-size: 14px;
  color: white;
}

.nutriImg-details {
  width: 400px;
  position: absolute;
  top: 200px;
  left: 20px;
}

/* bmi calculator styles */
.bmi-calculator {
  margin-top: 88px;
}
.bmi-headline {
  margin-left: 455px;
}

.bmi-title {
  color: white;
  font-size: 50px;
}

.bmi-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 88px;
}

.calculator {
  background: rgb(34, 34, 34);
  width: 100%;
  height: 487px;
}

.calculator-details {
  /* margin: 52px 189px; */
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  gap: 175px;
  /* border: 2px solid red; */
}

.bmi-chart {
  margin-top: 52px;
}

.bmi-chart-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 52px;
}

.chart-table {
  width: 310px;
  height: 216px;
}

.chart-table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

.chart-table th {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

.chart-table tr {
  width: 100px;
  height: 50px;
}
.chart-table tr td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  padding: 13px 0px 13px 24px;
}

.bmi-machine {
  /* border: 2px solid red; */
  margin: 52px 10px 0px 0px;
  width: 600px;
  height: 386px;
}

.machine-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 14px;
}

.machine-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 34px;
}

.bmi-machine input,
select,
option {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  width: 282.5px;
  height: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 0px 12px 12px 0px;
  padding: 13px 20px;
}

.activity {
  width: 582px;
  height: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 0px 12px 12px 0px;
  padding: 13px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  margin-bottom: 34px;
}

/* team styles */
.team {
  width: 80%;
  max-height: 882px;
  margin: 0 auto;
  margin-top: 88px;
}
.team-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 332px);
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
  /* border: 2px solid red; */
  color: white;
}

.TeamImg {
  width: 100%;
  height: 100%;
  position: relative;
}

.team-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.7);
}

.teamImgdetails {
  position: absolute;
  top: 275px;
  left: 15px;
}

/* footer styles */
footer {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-top: 88px;
  height: 100%;
}
.footer-content {
  /* border: 2px solid rebeccapurple; */
  width: 80%;
  height: 449px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-details {
  max-width: 443px;
  height: 72px;
  margin-bottom: 73px;
}

.footer-title {
  font-style: italic;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.footer-others {
  display: flex;
  margin-top: 66px;
  gap: 152px;
}

.footer-service h1 {
  color: rgb(255, 255, 255);
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 32px;
}

.footer-service p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-fitness h1 {
  color: rgb(255, 255, 255);
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 32px;
}

.footer-fitness p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: 79px auto 36px auto;
}

.ff {
  padding-bottom: 25px;
}
.footer-rights {
  max-width: 318px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
}

.hide {
  display: none;
}

/* Responsive for mobile device */
@media screen and (max-width: 576px) {
  .nav-links ul {
    display: none;
  }

  .ham {
    display: inline-block;
    margin-top: 70px;
  }

  .banner-container,
  .habit-container,
  .run,
  .calculator-details,
  .footer-content,
  .footer-others {
    flex-direction: column;
  }

  .banner-container {
    margin-top: 0px;
  }

  .banner-content {
    margin-top: 60px;
  }
  .banner-title {
    font-size: 36px;
    margin-right: 67px;
  }

  .banner-title span {
    font-size: 36px;
  }

  .banner-description {
    margin-right: 78px;
    font-size: 16px;
    margin-bottom: 28px;
  }

  .btn-primary {
    width: 159px;
    height: 54px;
    padding: 5px 8px;
  }

  .banner-img {
    margin-top: 48px;
  }

  .workVdo {
    width: 130px;
    height: 74.09px;
    left: 192px;
    top: 30px;
    padding: 5px;
  }

  .workVdo-title {
    font-size: 32px;
  }

  .workVdo-des {
    font-size: 10px;
  }

  .vidTuto {
    width: 160px;
    height: 80px;
    left: 15px;
    top: 260px;
    padding: 5px;
  }

  .title-primary {
    font-size: 31px;
  }

  .description-primary {
    font-size: 14px;
    text-align: center;
  }

  .habit-container {
    margin-top: 25px;
  }

  .habit-secondary {
    flex-direction: column;
  }

  .secondary-content-description {
    margin-top: 6px;
    margin-bottom: 36px;
  }

  .run {
    max-width: 353px;
    max-height: 531px;
    gap: 0;
    margin-top: 66px;
  }
  .run-details {
    max-width: 278px;
    max-height: 264px;
    margin: 0 auto;
    margin-top: 31px;
  }

  .run-btn {
    width: 282px;
  }

  .run-img {
    max-width: 287px;
    max-height: 170px;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 35px;
  }

  .run-description {
    font-size: 14px;
  }

  .training-exercise {
    max-width: 353px;
    margin-top: 66px;
  }

  .training-details {
    height: 100%;
    margin-bottom: 62px;
  }

  .training-description {
    font-size: 14px;
  }

  .training-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 134px);
  }
  .img1 {
    grid-column: 1 / 7;
  }

  .img2 {
    grid-column: 7 / -1;
  }
  .img3 {
    display: none;
  }

  .img4 {
    grid-column: 1 / 7;
  }

  .img5 {
    grid-column: 7 / -1;
  }
  .img6 {
    display: none;
  }

  .skyblue {
    display: none;
  }

  .bmi-calculator {
    margin-top: 50px;
  }
  .bmi-headline {
    margin-left: 42px;
    height: 124px;
    margin-bottom: 22px;
  }

  .bmi-description {
    width: 346px;
  }

  .calculator {
    height: 100%;
  }

  .calculator-details {
    gap: 15px;
  }

  .bmi-machine {
    max-width: 346px;
    height: 395px;
  }

  .bmi-machine input,
  select,
  option {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    width: 155px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .activity {
    width: 328px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    margin-bottom: 34px;
  }

  .bmi-chart-title,
  .machine-title {
    font-size: 16px;
  }

  .machine-description {
    font-size: 14px;
  }

  .chart-table,
  th,
  td {
    text-align: left;
  }

  .chart-table th {
    padding: 13px 0px 13px 24px;
  }

  .cal-btn {
    width: 224px;
  }

  .team-img {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 272px);
  }

  .t1,
  .t4 {
    display: none;
  }

  .team-heading {
    max-width: 309px;
    margin: 0 auto;
  }

  .teamImgdetails h2 {
    font-size: 20px;
  }

  .teamImgdetails p {
    font-size: 14px;
  }

  .teamImgdetails {
    /* position:absolute; */
    top: 216px;
    left: 15px;
  }

  footer {
    margin-top: 540px;
  }

  .footer-content {
    margin-top: 44px;
    height: 100%;
  }

  .footer-others {
    gap: 20px;
    margin-right: 138px;
  }

  .footer-description {
    font-size: 15px;
  }

  .footer-service h1 {
    font-size: 32px;
  }

  .footer-service p {
    font-size: 23px;
  }
  .footer-fitness p {
    font-size: 23px;
  }
  .footer-fitness h1 {
    font-size: 32px;
  }

  /* .footer-rights {
    margin-bottom: 72px;
  } */

  .footer-hr {
    width: 85%;
    margin: 75px auto 30px auto;
  }

  .ff {
    padding: 25px;
  }
}

/* responsive for tab/middle device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-links ul {
    gap: 0px;
  }

  .navbtn2 {
    margin-left: 15px;
  }

  .banner-container,
  .calculator-details,
  .footer-content {
    flex-direction: column;
  }

  .banner-container {
    margin-top: 75px;
  }

  .banner-content {
    margin-top: 0;
  }

  .banner-img {
    margin: 0 auto;
  }

  .habit-primary {
    max-width: 476px;
    margin: 0 auto;
  }

  .habit-container {
    margin-top: 111px;
  }

  .description-primary {
    font-size: 14px;
    text-align: center;
  }

  .habit-secondary {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .habit-secondary-content {
    margin-bottom: 40px;
  }
  .title-primary {
    font-size: 36px;
  }
  .run {
    gap: 0;
  }

  .run-details {
    max-width: 265px;
    max-height: 308px;
    margin: 46px 68px 46px 54px;
  }

  .run-img {
    max-width: 256px;
    max-height: 319px;
  }

  .skyblue {
    display: none;
  }

  .training-exercise {
    max-width: 684px;
    height: 581px;
  }

  .training-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 210px);
  }
  .img1 {
    grid-column: 1 / 5;
  }

  .img2 {
    grid-column: 5 / 10;
  }
  .img3 {
    grid-column: 10 / -1;
  }

  .img4 {
    grid-column: 1 / 6;
  }

  .img5 {
    grid-column: 6 / 10;
  }
  .img6 {
    grid-column: 10 / -1;
  }

  .bmi-headline {
    margin-left: 80px;
    width: 595px;
    height: 120px;
    margin-bottom: 46px;
  }

  .calculator {
    height: 100%;
  }

  .calculator-details {
    gap: 62px;
  }

  .bmi-machine {
    width: 100%;
  }

  .bmi-machine input,
  select,
  option {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    width: 304px;
  }

  .activity {
    width: 625px;
  }

  .cal-btn {
    width: 224px;
  }

  .chart-table,
  th,
  td {
    text-align: left;
  }

  .chart-table th {
    padding: 13px 0px 13px 24px;
  }

  .teamImgdetails h2 {
    font-size: 20px;
  }

  .teamImgdetails p {
    font-size: 14px;
  }

  .teamImgdetails img {
    background: rgba(0, 0, 0, 0.2);
  }
  .teamImgdetails {
    top: 275px;
    left: 15px;
  }

  .footer-details {
    max-width: 443px;
    height: 176px;
    margin-right: 186px;
    margin-bottom: 30px;
  }

  .footer-others {
    gap: 152px;
    margin-right: 67px;
    margin-top: 50px;
  }

  .footer-service h1 {
    font-size: 32px;
  }

  .footer-service p {
    font-size: 23px;
  }
  .footer-fitness p {
    font-size: 23px;
  }
  .footer-fitness h1 {
    font-size: 32px;
  }

  .footer-hr {
    margin: 90px auto 30px auto;
  }
}
